.background-app{
          background-image: url('../src/assets/screenshot.png');
}
.select {
  background-color: rgb(35, 89, 34);
  color: white;
  font-weight: 700;
}

.wrong {
  background-color: rgb(161, 46, 46);
  color: white;
  font-weight: 700;
}

@media (max-width: 800px) {
          .content {
            flex-direction: column-reverse;
            align-items: center;
          }
          .banner {
            width: 85%;
            padding: 0;
            padding-top: 20px;
          }
          .settings {
            width: 100%;
          }
        }

        
@media (max-width: 614px) {
  .singleOption {
    width: 100%;
    color: #212121;
  }
}
